# Fichiers et dossiers de cache Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
env/

# Dossiers de données
data/raw/
data/processed/

# Dossiers de modèles
models/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers système
.DS_Store